rasa~=3.6.20
rasa-sdk~=3.6.2
httpx~=0.27.2
RapidFuzz~=3.10.1
pytest-asyncio~=0.24.0
python-dotenv~=1.0.1
aiobotocore~=2.15.2
typing_extensions~=4.12.2
pydantic~=2.9.2
boto3~=1.35.55
pydantic-settings~=2.6.1
uvicorn~=0.32.0
fastapi~=0.115.4
pytest~=8.3.4

